<div class="iniciosesion">
    <h1 id="titulo1">INICIO DE SESIÓN</h1>
    <form (ngSubmit)="SimpleLogin()">
        <div class="inputGroup">
            <label for="nombre">NOMBRE DE USUARIO<span class="required"></span></label>
            <input
                type="text"
                id="nombre"
                [(ngModel)]="nombre"
                name="nombre"
                required
            />
        </div>
        
        <button type="submit">Ingresar</button>
    </form>
    <p *ngIf="mensajeError" class="error">{{ mensajeError }}</p>
</div>